/**
 * @file
 * Subtheme specific CSS.
 */
/* Sistem Ayarlari */
#navbar-main {
  background-color: #fff !important;
  padding: 0 1%;
}
.alert-wrapper {
  position: relative !important;
  z-index: 9 !important;
}
img {
  width: 100% !important;
  height: auto !important;
}
.navbar-brand img {
  width: auto !important;
  height: 100px !important;
}
.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0;
}
.flexslider {
  margin: 0 !important;
  background: transparent !important;
  border: none !important;
}
.featured-top .container {
  max-width: 100% !important;
  padding: 0 !important;
}
.text-formatted {
  font-size: 18px;
}
.bottom .region-bottom-second{
  margin: 0 0;
}
.more-link {
  text-align: center;
  margin: 20px 0 10px !important;
}
.more-link a {
  text-decoration: none !important;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  background: #097abf;
  padding: 10px 20px;
  border: 2px #097abf solid;
  transition: 0.2s all ease-in-out;
}
.more-link a:hover {
  background: #fff;
}
.site-footer {
  margin-top: 20px;
}
.site-footer .block {
  margin: 0 0;
  border: none;
  padding: 0 10px;
  text-align: center;
}
.menu--main .nav-link {
  font-weight: 700;
  text-transform: uppercase;
}
/**************************************************/
/* Anasayfa Slider Ayarlari */
#anasayfa-slider {
  position: relative;
}
#anasayfa-slider-baslik {
  position: absolute;
  bottom: 0;
  font-size: 5em;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px #3d3d3d;
  width: 100%;
  padding: 0 0 5% 5%;
  background: linear-gradient(360deg, rgba(30,45,148,1) 0%, rgba(5,90,142,1) 30%, rgba(255,255,255,0) 100%);
}
/**************************************************/
/* Anasayfa Slider Altı BLoklar */
.featured-bottom {
  background: url('../images/alt-bg-4.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: 30px
}
.featured-bottom .block {
  max-width: 30%;
  padding: 10% 0;
}
.featured-bottom h2 {
  font-size: 2em;
  position: relative;
  padding: 10px 0;
  text-transform: uppercase;
}
.featured-bottom h2:before {
  content: "";
  border-top: 5px solid !important;
  width: 50%;
  position: absolute;
  top: 0;
}
.region-bottom-first {
  position: relative;
  background: linear-gradient(rgba(30,45,148,1), rgba(30, 45, 148, 0.8)), url('../images/river-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  color: #fff !important;
  background-position-y: 50%;
  display: block;
}
.region-bottom-first .block .content{
  width: 45%;
  margin: 0 2.5% 0 0;
  font-size: 18px;
  font-weight: 700;
  padding: 0 0 3%;
  z-index: 10 !important;
}
.region-bottom-first .block  {
  max-width: 1320px;
  margin: 0 auto;
  padding: 5% 0 2.5%;
}
.region-bottom-first .block p {
  margin-bottom: 0 !important;
  z-index: 10 !important;
}
.region-bottom-first .block h2 {
  color: #02e6ff !important;
  font-size: 2em;
  position: relative;
  padding-top: 10px;
  text-transform: uppercase;
  width: 45%;
}
.region-bottom-first .block h2:before {
  content: "";
  border-top: 5px #02e6ff solid !important;
  width: 50%;
  position: absolute;
  top: 0;
}
.region-bottom-second {
  background: url(../images/coruh.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}
.region-bottom-second:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(5,90,142,0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.region-bottom-second .block {
  max-width: 1320px;
  margin: 16% auto 5%;
  font-size: 24px;
  font-weight: 700;
  z-index: 2;
  min-height: 600px;
}
.region-bottom-first h2 {
  font-size: 2em;
  text-shadow: 2px 2px #3d3d3d;
}
/**************************************************/
/* Haberler Sayfa Ici Ayarlari */
.node--type-haber .content {
  position: relative;
}
.block-field-blocknodehabercreated {
  position: absolute;
  top:0;
  left: 0;
  width: 10%;
  background: #fff;
  margin:0 45% !important;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.block-field-blocknodehabertitle {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  font-size: 3em;
  font-height: 700;
  top: 7vw;
  width: 80% !important;
  text-align: center;
  margin: 0 10%;
  color: #fff !important;
  clear: both;
}
.field--name-field-foto-galeri {
  float: none !important;
  margin: 20px 0 !important;
}
.field--name-field-foto-galeri .field__item {
  float: left;
  width: 33%;
}
.field--name-field-foto-galeri img {
  filter: grayscale(1);
  transition: 0.2s all ease-in-out;
}
.field--name-field-foto-galeri img:hover {
  filter: grayscale(0);
}
.block-field-blocknodehaberfield-haber-baglanti-adresi {
  margin: 20px 0;
  clear: both;
}
.block-field-blocknodehaberfield-haber-baglanti-adresi a {
  text-decoration: none;
  font-weight: 700;
  background: #097abf;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 2px #097abf solid;
  transition: 0.2s all ease-in-out;
}
.block-field-blocknodehaberfield-haber-baglanti-adresi a:hover {
  color: #097abf;
  background: #fff !important;
}
.block-field-blocknodehaberfield-haber-kategorisi {
  width: 200px;
}
.field--type-entity-reference {
  border: 2px #097abf solid;
  text-align: center;
  margin: 0 0 10px!important;
  padding: 0 !important;
  color: #097abf;
  font-weight: 700;
  clear: both;
}
.field--type-entity-reference:before {
  content: "#";
  color: #097abf;
  font-weight: 700;
}
.addtoany_list span {
  margin: 10px 0;
}
/**************************************************/
/* Haberler Sayfa ve Blok Ayarlari */
.block-views-blockhaberler-block-1 h2{
  text-align: center;
  text-transform: uppercase;
}
.haber-satir {
  width: 33%;
}
.haber {
  position: relative;
}
.haber-yazi {
  position: absolute;
  bottom: 0;
  background: #fff;
  padding: 0 10px;
  max-width: 90%;
}
.haber-yazi-ust {
  display: flex;
  font-weight: 700;
}
.haber-kategori {
  color: #097abf;
  font-weight: 700;
}
.haber-kategori:before {
  content: "#";
  color: #097abf;
  font-weight: 700;
}
.haber-tarih {
  margin-right: 20px;
}
.haber-baslik a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4em;
}
/**************************************************/
/* Partnerlerimiz Sayfa ve Blok Ayarlari */
.partner-satir {
  width: 23%;
  margin: 0 1% 5%;
}
.partner-satir img {
  max-width: 200px;
}
.block-views-blockpartnerlerimiz-block-1 {
  margin: 5% 0 10px;
  text-align: center
}
.block-views-blockpartnerlerimiz-block-1 h2 {
  margin-bottom: 3%;
  text-transform: uppercase;
}
/**************************************************/
/* Instagram profil blok ayarlari */
#block-instagramdabizitakipedin {
  position: relative;
  text-align: center;
  background: #9FD5E6;
  margin:0 !important;
  padding: 20px 0 !important;
  color: #fff !important;
  background: linear-gradient(rgba(255,182,95,0.8) 0%, rgba(224,53,150,0.8) 49%, rgba(84,78,226,0.8) 100%), url('../images/insta-bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  z-index: 9 !important;
}

#block-instagramdabizitakipedin img{
  position: relative;
  max-width: 320px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 0
}
/**************************************************/
/* Foto Galeri Ayarlari */
.views-field-field-foto-galeri-gorselleri .cboxElement {
  width: 33%;
  height: auto;
  float: left;
}
/**************************************************/
/* Footer Ayarlari */
#block-etibilisim-barrio-footer .nav-link {
  color: #fff;
  font-weight: 700;
}
.navbar-brand {
  text-align: center;
}
/**************************************************/
@media (max-width:480px) {
  #anasayfa-slider-baslik {
    font-size: 1.5em;
  }
  .region.region-featured-bottom-first .block {
    width: 95%;
  }
  .region.region-featured-bottom-first .block h2 {
    font-size: 1.2em !important;
  }
  .region-bottom-first h2 {
    font-size: 1.2em;
  }
  .region-bottom-first {
    padding: 0 2.5%;
  }
  .haber-satir {
    width: 90%;
    float: none;
    margin: 5% auto;
  }
  .haber-yazi-ust {
    font-size: 12px;
  }
  .haber-baslik {
    font-size: 0.675em
  }
}
